@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: 'Rubik', sans-serif; }

@media (max-width: 650px) {
  * {
    padding: 0;
    margin: 0;
    font-size: 16px !important;
    font-family: 'Rubik', sans-serif; } }

.intro {
  font-family: 'Fjalla One', sans-serif;
  background: linear-gradient(to bottom, #405166 0%, #656f6f 100%);
  height: 100vh; }

.intro-container {
  transform: translate(-50%, -50%);
  top: 35%;
  left: 50%;
  display: block;
  position: absolute;
  max-width: 600px !important; }

h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 42px;
  margin: 0;
  line-height: 47px;
  letter-spacing: 2px; }

.title {
  transform: translateX(-50%);
  display: block;
  float: left;
  left: 50%;
  position: relative; }
  .title span {
    display: block;
    float: left;
    min-width: 10px;
    min-height: 10px;
    position: relative;
    font-size: 3rem; }

.title {
  background-color: white;
  margin: 5px 0;
  padding: 0 10px; }
  .title:nth-child(1) {
    color: #604fff; }
  .title:nth-child(2) {
    background-color: #a260f9;
    color: black; }
  .title:nth-child(3) {
    background-color: #ff67de;
    color: yellow; }

.spinner {
  width: 100px;
  height: 60px;
  text-align: center;
  font-size: 10px;
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: white; }

.spinner > div {
  background-color: white;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out; }

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

.spinner .rect6 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s; }

.spinner .rect7 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }

.spinner .rect8 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }

canvas {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black; }

.header-container {
  background-size: cover;
  background-position: center;
  min-height: 100vh; }

.header-wrapper {
  display: inline-block; }

.navbarUl {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.navbarMobile {
  background-color: #bb3030;
  position: fixed;
  width: 100%;
  padding: 1rem 0;
  z-index: 100;
  text-align: center; }
  .navbarMobile i {
    padding: 0;
    font-size: 3rem;
    color: white; }

.hamMenu {
  text-align: left;
  display: inline-block;
  float: left;
  padding-left: 1rem; }

.portfolio, .portfolio-mobile {
  text-align: center;
  padding: 5rem 0 0; }
  .portfolio h1, .portfolio-mobile h1 {
    margin: 0;
    padding: 0;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    letter-spacing: 1rem;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block; }

.portfolio-mobile {
  padding: 0; }
  .portfolio-mobile h1 {
    background-image: none;
    color: white;
    display: inline-block;
    letter-spacing: 1rem; }

.header {
  display: flex;
  flex-wrap: wrap;
  padding: 4rem 1% 0;
  justify-content: center; }
  .header-box1 {
    display: inline-block;
    width: 25%;
    text-align: center; }
    .header-box1-img img {
      width: 12rem;
      height: 12rem;
      border-radius: 50%; }
    .header-box1-text {
      padding-top: 1rem; }
      .header-box1-text-name span {
        color: black;
        font-size: 1.2rem; }
      .header-box1-text-college {
        padding-top: 1rem; }
        .header-box1-text-college span {
          color: rgba(0, 0, 0, 0.7);
          font-size: 1.2rem; }
      .header-box1-text-location {
        padding-top: 1rem; }
        .header-box1-text-location span {
          color: rgba(0, 0, 0, 0.7);
          font-size: 1.2rem; }
      .header-box1-text-profile {
        padding-top: 1rem; }
        .header-box1-text-profile span {
          color: rgba(0, 0, 0, 0.7);
          font-size: 1.2rem; }
      .header-box1-text-resume {
        padding-top: 1rem; }
        .header-box1-text-resume a {
          font-size: 1.2rem; }
      .header-box1-text-env {
        padding-top: 1rem; }
        .header-box1-text-env span:first-child {
          font-size: 1.2rem;
          color: black; }
        .header-box1-text-env span {
          line-height: 2.2rem;
          font-size: 1.2rem;
          color: rgba(0, 0, 0, 0.7); }
  .header-box2 {
    border-left: 4px solid red;
    position: relative;
    display: inline-block;
    width: 60%;
    padding-left: 1%; }
    .header-box2-about {
      background-image: url("../assets/new.png");
      background-position: center;
      background-size: cover;
      padding: 3rem 0 3rem 3rem; }
      .header-box2-about span {
        font-size: 1.2rem;
        color: rgba(0, 0, 0, 0.8);
        letter-spacing: 0.2rem;
        word-spacing: 0.3rem;
        line-height: 3rem; }
    .header-box2-quote {
      padding-left: 2rem;
      padding-top: 1rem; }
      .header-box2-quote span {
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.3);
        font-size: 2rem;
        color: rgba(0, 0, 0, 0.7); }

.strike {
  text-decoration: line-through; }

@media (min-width: 300px) and (max-width: 650px) {
  .header-wrapper {
    padding-top: 6rem; }
  .header {
    padding-top: 0; }
  .header-box1 {
    width: 100%; }
  .header-box1-img img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 2px solid blueviolet;
    box-shadow: 0 0 5px blueviolet; }
  .header-box2 {
    width: 90%; }
    .header-box2-about {
      padding: 5rem 0 5rem 1rem; }
      .header-box2-about span {
        font-size: 1.5rem;
        color: rgba(0, 0, 0, 0.8);
        letter-spacing: 0.2rem;
        word-spacing: 0.4rem;
        line-height: 1.8rem; }
    .header-box2-quote span {
      font-size: 1.8rem !important; } }

.skills-container {
  border: 3px solid red;
  min-height: 50vh;
  background-color: #e6e6e6;
  padding-bottom: 2rem;
  border-bottom: 0; }

.key-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.skills-heading {
  text-align: center;
  padding: 8rem 0; }
  .skills-heading-wrapper {
    background-color: white;
    display: inline-block;
    padding: 1rem;
    box-shadow: 0 0 30px red; }
    .skills-heading-wrapper span {
      font-size: 3.5rem;
      background-image: linear-gradient(to right, blue, red);
      -webkit-background-clip: text;
      color: transparent; }

.key-skill {
  width: 20%;
  padding: 1rem;
  background-color: white;
  border: 2px solid red;
  box-shadow: 0 0 15px red;
  margin: 1rem;
  text-align: center;
  min-height: 25rem; }
  .key-skill-icon {
    padding-top: 3rem; }
    .key-skill-icon i {
      font-size: 3.5rem;
      background-image: linear-gradient(to right, #5f2c82, #49a09d);
      -webkit-background-clip: text;
      color: transparent; }
  .key-skill-title {
    padding-top: 2rem; }
    .key-skill-title span {
      font-weight: bold;
      font-size: 1.6rem; }
  .key-skill-description {
    padding-top: 1rem; }
    .key-skill-description span {
      font-size: 1.2rem;
      font-family: Rubik,sans-serif; }

@media (min-width: 300px) and (max-width: 650px) {
  .skills-heading {
    padding: 6rem 0; }
    .skills-heading-wrapper span {
      font-size: 1.5rem !important; }
  .key-skills {
    justify-content: space-around; }
  .key-skill {
    width: 44%;
    padding: 0.2rem;
    border: 0;
    box-shadow: 0 0 5px red;
    margin: 0.2rem;
    text-align: center;
    min-height: 0; }
    .key-skill-icon {
      padding-top: 1rem; }
      .key-skill-icon i {
        font-size: 2.5rem !important; }
    .key-skill-title {
      padding-top: 2rem; }
      .key-skill-title span {
        font-weight: bold;
        font-size: 1.2rem !important; }
    .key-skill-description {
      padding-top: 1rem; }
      .key-skill-description span {
        font-size: 1.2rem;
        font-family: Rubik,sans-serif; } }

.tech-container {
  background-color: #e6e6e6;
  padding-bottom: 5rem; }

.tech-heading {
  text-align: center;
  padding: 8rem 0; }
  .tech-heading-wrapper {
    background-color: white;
    display: inline-block;
    padding: 1rem;
    box-shadow: 0 0 30px red; }
    .tech-heading-wrapper span {
      font-size: 3.5rem;
      background-image: linear-gradient(to right, blue, red);
      -webkit-background-clip: text;
      color: transparent; }

.languages-heading {
  padding-left: 14%;
  text-align: left; }
  .languages-heading span {
    font-size: 3rem; }

.language {
  display: flex;
  flex-wrap: wrap;
  margin: 4rem 0;
  justify-content: center; }
  .language-icon {
    padding-top: 1.5rem; }
    .language-icon img {
      min-width: 7rem;
      max-width: 7rem; }
  .language-text {
    width: 60%;
    padding-left: 4rem; }
    .language-text-name span {
      font-size: 2rem; }
    .language-text-description span {
      font-size: 1.2rem;
      color: rgba(0, 0, 0, 0.7); }
    .language-text-description ul {
      padding-left: 2rem; }
      .language-text-description ul li {
        font-size: 1.2rem; }

.web-technologies-heading {
  padding-left: 14%;
  text-align: left; }
  .web-technologies-heading span {
    font-size: 3rem; }

.web-tech {
  display: flex;
  flex-wrap: wrap;
  margin: 6rem 0;
  justify-content: center; }
  .web-tech-icon img {
    min-width: 8rem;
    max-width: 8rem; }
  .web-tech-text {
    width: 60%;
    padding-left: 4rem; }
    .web-tech-text-name span {
      font-size: 2rem; }
    .web-tech-text-description span {
      font-size: 1.2rem;
      color: rgba(0, 0, 0, 0.7); }
    .web-tech-text-description ul {
      padding-left: 2rem; }
      .web-tech-text-description ul li {
        font-size: 1.2rem; }

@media (min-width: 300px) and (max-width: 650px) {
  .tech-container {
    padding-bottom: 1rem; }
  .tech-heading {
    padding: 6rem 0; }
  .tech-heading-wrapper span {
    font-size: 1.5rem !important; }
  .language-text, .web-tech-text {
    width: 100%;
    padding: 0 4%; }
  .languages-heading, .web-technologies-heading {
    padding-left: 0;
    text-align: center; }
  .language-icon, .web-tech-icon {
    width: 100%;
    text-align: center; }
    .language-icon img, .web-tech-icon img {
      max-width: 6rem;
      max-height: 7rem; } }

.projects-container {
  background-color: #e6e6e6; }

.projects-heading {
  text-align: center;
  padding: 2rem 0 2rem; }
  .projects-heading-wrapper {
    background-color: white;
    display: inline-block;
    padding: 1rem;
    box-shadow: 0 0 30px red; }
    .projects-heading-wrapper span {
      font-size: 3.5rem;
      background-image: linear-gradient(to right, blue, red);
      -webkit-background-clip: text;
      color: transparent; }

.project-text {
  width: 70%;
  margin: 0 auto; }

.project {
  padding-top: 8rem; }
  .project-name {
    font-size: 3.5rem; }
  .project-intro {
    padding: 1rem 0;
    font-size: 1.2rem;
    line-height: 2rem;
    color: rgba(0, 0, 0, 0.7); }
  .project-description {
    padding: 1rem 0 1rem 2rem; }
    .project-description li {
      padding: 0.2rem 0;
      font-size: 1.2rem;
      color: rgba(0, 0, 0, 0.7); }
  .project-techStack {
    padding: 1rem 0 2rem; }
    .project-techStack-heading {
      font-size: 1.6rem;
      color: rgba(0, 0, 0, 0.5); }
    .project-techStack-info {
      font-size: 1.5rem;
      color: rgba(0, 0, 0, 0.7); }

.carousel-container {
  width: 50%;
  margin: 0 auto; }

.indicators {
  background-color: gray; }

@media (min-width: 300px) and (max-width: 650px) {
  .projects-heading {
    padding: 0; }
  .projects-heading-wrapper span {
    font-size: 1.5rem !important; }
  .project:first-child {
    padding-top: 6rem; }
  .project-text, .project-description {
    width: 100%;
    padding: 0 4%; } }

.education-container {
  background-color: #e6e6e6; }

.education-heading {
  text-align: center;
  padding: 8rem 0; }
  .education-heading-wrapper {
    background-color: white;
    display: inline-block;
    padding: 1rem;
    box-shadow: 0 0 30px red; }
    .education-heading-wrapper span {
      font-size: 3.5rem;
      background-image: linear-gradient(to right, blue, red);
      -webkit-background-clip: text;
      color: transparent; }

.courses-collapse {
  width: 80%;
  margin: 0 auto; }
  .courses-collapse ul {
    cursor: pointer;
    margin: 0; }
    .courses-collapse ul li {
      cursor: pointer; }

.collapsible-header {
  cursor: pointer; }
  .collapsible-header span {
    font-size: 1.6rem;
    cursor: pointer; }

.collapsible-body {
  background-color: #bb3030; }
  .collapsible-body span {
    font-size: 1.2rem;
    color: white; }

.clickForMore {
  color: rgba(0, 0, 0, 0.3); }

.end-container {
  background-color: #e6e6e6; }

.end-heading {
  text-align: center;
  padding: 8rem 0; }
  .end-heading-wrapper {
    background-color: white;
    display: inline-block;
    padding: 1rem;
    box-shadow: 0 0 30px red; }
    .end-heading-wrapper span {
      font-size: 3.5rem;
      background-image: linear-gradient(to right, blue, red);
      -webkit-background-clip: text;
      color: transparent; }

.end-image {
  text-align: center; }
  .end-image img {
    max-height: 30rem; }

.end-text {
  text-align: center;
  padding: 3rem 0; }
  .end-text span {
    font-size: 2.2rem; }

.profile-links {
  text-align: center;
  padding: 0 0 4rem; }

.profile-link-title {
  text-align: left;
  display: inline-block;
  width: 8rem;
  font-size: 1.2rem; }

.profile-link a {
  font-size: 1rem; }

.profile-center {
  display: inline-block;
  text-align: left; }

@media (min-width: 300px) and (max-width: 650px) {
  .end-heading {
    padding: 6rem 0; }
  .end-heading-wrapper span {
    font-size: 1.5rem !important; }
  .end-image img {
    width: 50%; } }

.navigation-list {
  position: fixed;
  bottom: 3rem;
  left: 18%; }
  .navigation-list li {
    padding: 0.1rem; }
  .navigation-list .circle {
    border-radius: 50%;
    display: inline-block;
    min-width: 0.8rem;
    min-height: 0.8rem;
    position: relative;
    color: white; }
  .navigation-list .circle1 {
    background-color: red;
    color: red;
    box-shadow: 0 0 50px red; }
  .navigation-list .circle2 {
    background-color: blue;
    box-shadow: 0 0 5px blue; }
  .navigation-list .circle3 {
    background-color: green;
    box-shadow: 0 0 5px green; }
  .navigation-list .circle4 {
    background-color: blueviolet;
    box-shadow: 0 0 5px blueviolet; }
  .navigation-list .circle5 {
    background-color: midnightblue;
    box-shadow: 0 0 5px midnightblue; }
  .navigation-list .name {
    padding-left: 0.5rem;
    font-size: 1.2rem; }
  .navigation-list .name1 {
    color: red; }
  .navigation-list .name2 {
    color: blue; }
  .navigation-list .name3 {
    color: green; }
  .navigation-list .name4 {
    color: blueviolet; }
  .navigation-list .name5 {
    color: midnightblue; }

.active {
  background-color: #ffc800;
  color: black; }

nav {
  background-color: #bb3030 !important; }

.nav-wrapper {
  text-align: center; }
  .nav-wrapper a {
    font-size: 1.5rem;
    padding: 0 2rem; }

.carousel .carousel-item > img {
  height: 100%; }

.carousel-slider a {
  transform: none !important; }

@media (min-width: 300px) and (max-width: 650px) {
  .carousel-container {
    width: 98%; } }

#portfolio {
  display: block; }

#introBox {
  display: none; }
