

@import "base/base";
@import "base/mixins";

@import "components/intro";

@import "components/header";
@import "components/skills";
@import "components/tech";
@import "components/projects";
@import "components/education";
@import "components/end";
@import "base/carousel";

#portfolio{
  display: block;
}
#introBox{
  display: none;
}
