.education-container{
  background-color: #e6e6e6;
}


.education-heading{
  text-align: center;
  padding: 8rem 0;
  &-wrapper{
    background-color: white;
    display: inline-block;
    padding: 1rem;
    box-shadow: 0 0 30px red;
    span{
      font-size: 3.5rem;
      background-image: linear-gradient(to right, blue, red);
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}
.courses-collapse{
  width: 80%;
  margin: 0 auto;
  ul{
    cursor: pointer;
    margin: 0;
    li{
      cursor: pointer;
    }
  }
}
.collapsible-header{
  cursor: pointer;
  span{
    font-size: 1.6rem;
    cursor: pointer;
  }
}
.collapsible-body{
  background-color: #bb3030;
  span{
    font-size: 1.2rem;
    color: white;
  }
}
