.header-container {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.header-wrapper {
  display: inline-block;
}

.navbarUl{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.navbarMobile{
  background-color: #bb3030;
  position: fixed;
  width: 100%;
  padding: 1rem;
  z-index: 100;
  text-align: center;
  i{
    padding: 0;
    font-size: 3rem;
    color: white;
  }
}
.hamMenu{
  text-align: left;
  display: inline-block;
  float: left;
}

.portfolio,.portfolio-mobile{
  text-align: center;
  padding: 5rem 0 0;
  h1{
    margin: 0;
    padding: 0;
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );

letter-spacing: 2.5rem;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
  }
}
.portfolio-mobile{
  padding: 0;
  h1{
  background-image: none;
  color: white;
  display: inline-block;
  letter-spacing: 1.6rem;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  padding: 6rem 1% 0;
  justify-content: center;

  &-box1 {
    display: inline-block;
    width: 25%;
    text-align: center;

    &-img {
      img {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
      }
    }

    &-text {
      padding-top: 4rem;

      &-name {
        span {
          color: rgba(0, 0, 0, 1);
          font-size: 2rem;
        }
      }

      &-college {
        padding-top: 1rem;
        span {
          color: rgba(0, 0, 0, 0.7);
          font-size: 1.5rem;
        }
      }

      &-location {
        padding-top: 1rem;

        span {
          color: rgba(0, 0, 0, 0.7);
          font-size: 1.5rem;

        }
      }

      &-profile {
        padding-top: 1rem;

        span {
          color: rgba(0, 0, 0, 0.7);
          font-size: 1.5rem ;

        }
      }
      &-env{
        padding-top: 1rem;
        span:first-child{
          font-size: 1.5rem;
          color: black;
        }
        span{
          line-height: 2.2rem;
          font-size: 1.5rem;
          color: rgba(0,0,0,0.7);
        }
      }
    }
  }

  &-box2 {
    border-left: 4px solid red;
    position: relative;
    display: inline-block;
    width: 60%;
    padding-left: 1%;

    &-about {
      background-image: url("../assets/new.png");
      background-position: center;
      background-size: cover;
      padding: 10rem 0 10rem 3rem;

      span {
        font-size: 1.5rem;
        color: rgba(0, 0, 0, 0.8);
        letter-spacing: 0.4rem;
        word-spacing: 0.6rem;
        line-height: 3rem;
      }
    }

    &-quote {
      padding-left: 2rem;
      padding-top: 1rem;
      span {
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.3);
        font-size: 3rem;
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}

.strike {
  text-decoration: line-through;
}


@media (min-width: 300px) and (max-width: 650px) {
 .header-wrapper{
    padding-top: 6rem;
  }
  .header{
    padding-top: 0;
  }
  .header-box1{
    width: 100%;
  }

  .header {
    &-box1 {
      &-img {
        img {
          width: 12rem;
          height: 12rem;
          border-radius: 50%;
          border: 2px solid blueviolet;
          box-shadow: 0 0 5px blueviolet;
        }
      }
    }
  }
  .header-box2{
    width: 90%;
    &-about{
      padding: 5rem 0 5rem 1rem;
      span {
        font-size: 1.5rem;
        color: rgba(0, 0, 0, 0.8);
        letter-spacing: 0.2rem;
        word-spacing: 0.4rem;
        line-height: 1.8rem;
      }
    }
    &-quote{
      span{
        font-size: 1.8rem !important;
      }
    }
  }
}
