.tech-container{
  background-color: #e6e6e6;
  padding-bottom: 5rem;
}

.tech-heading{
  text-align: center;
  padding: 8rem 0;
  &-wrapper{
    background-color: white;
    display: inline-block;
    padding: 1rem;
    box-shadow: 0 0 30px red;
    span{
      font-size: 3.5rem;
      background-image: linear-gradient(to right, blue, red);
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}

.languages{
  &-heading{
    padding-left: 14%;
    text-align: left;
    span{
      font-size: 3rem;
    }
  }
}

.language{
  display: flex;
  flex-wrap: wrap;
  margin: 4rem 0;
  justify-content: center;
  &-icon{
    padding-top: 1.5rem;
    img{
      min-width: 7rem;
      max-width: 7rem;
    }
  }
  &-text{
    width: 60%;
    padding-left: 4rem;
    &-name{
      span{
        font-size: 2rem;
      }
    }
    &-description{
      span{
        font-size: 1.2rem;
        color: rgba(0,0,0,0.7);
      }
      ul{
        padding-left: 2rem;
        li{
          font-size: 1.2rem;
        }
      }
    }
  }

}

.web-technologies{
 &-heading{
      padding-left: 14%;
      text-align: left;
      span{
        font-size: 3rem;
      }
    }
  }

.web-tech{
  display: flex;
  flex-wrap: wrap;
  margin: 6rem 0;
  justify-content: center;
  &-icon{
    img{
      min-width: 8rem;
      max-width: 8rem;
    }
  }
  &-text{
    width: 60%;
    padding-left: 4rem;
    &-name{
      span{
        font-size: 2rem;
      }
    }
    &-description{
      span{
        font-size: 1.2rem;
        color: rgba(0,0,0,0.7);
      }
      ul{
        padding-left: 2rem;
        li{
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media (min-width: 300px) and (max-width: 650px) {
  .tech-container{
    padding-bottom: 1rem;
  }
  .tech-heading{
    padding: 6rem 0;
  }
  .tech-heading{
    &-wrapper{
      span{
        font-size: 1.5rem !important;
      }
    }
  }
.language-text, .web-tech-text{
  width: 100%;
  padding: 0 4%;
}
  .languages-heading,.web-technologies-heading{
    padding-left: 0;
    text-align: center;
  }
  .language-icon, .web-tech-icon{
    width: 100%;
    text-align: center;
    img{
      max-width: 6rem;
      max-height: 7rem;
    }
  }
}
